.App {
	text-align: center;
	font-family: 'Kaushan Script', cursive;
	font-size: 40px;
}

.sp1 {
	color: #ff0000;
}
.sp2 {
	color: #4a7be6;
}
.sp3 {
	color: #1e9600;
}
.sp4 {
	color: #d6782b;
}

img {
	margin-top: 0px;
	width: 700px;
}

button {
	background: linear-gradient(to right, #64f38c, #f79d00);
	padding: 8px;
	font-size: 20px;
	border: 1px solid #333;
	border-radius: 6px;
	font-weight: bold;
}

button:hover {
	background: linear-gradient(to right, #ff8c00, #ff0080, #40e0d0);
	color: #fff;
}

.btn2 {
	margin-right: 450px;
}
